

*,
html,
body {
    font-family: 'IBM Plex Sans Arabic';
    font-weight: normal;
    font-style: normal;

}

.advisar-header-area {
    direction: rtl;
}

p ,a{
    font-family: 'IBM Plex Sans Arabic';
    font-weight: normal;
    font-style: normal;
    direction: rtl;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'IBM Plex Sans Arabic';
    font-weight: 600;
    font-style: normal;

}
p,h1,h2,h3,h4,h5,h6,a{
    direction: rtl;
}

.rtl{
    text-align: right !important;
    direction: rtl !important;
}



.topber_right_social.style_two {
    justify-content: left;
}


.me-0 {
    margin-left: 0 !important;
}

.me-1 {
    margin-left: 0.25rem !important;
}

.me-2 {
    margin-left: 0.5rem !important;
}

.me-3 {
    margin-left: 1rem !important;
}

.me-4 {
    margin-left: 1.5rem !important;
}

.me-5 {
    margin-left: 3rem !important;
}

.ms-0 {
    margin-right: 0 !important;
}

.ms-1 {
    margin-right: 0.25rem !important;
}

.ms-2 {
    margin-right: 0.5rem !important;
}

.ms-3 {
    margin-right: 1rem !important;
}

.ms-4 {
    margin-right: 1.5rem !important;
}

.ms-5 {
    margin-right: 3rem !important;
}

.ms-auto {
    margin-right: auto !important;
}

.pe-0 {
    padding-left: 0 !important;
}

.pe-1 {
    padding-left: 0.25rem !important;
}

.pe-2 {
    padding-left: 0.5rem !important;
}

.pe-3 {
    padding-left: 1rem !important;
}

.pe-4 {
    padding-left: 1.5rem !important;
}

.pe-5 {
    padding-left: 3rem !important;
}

.pb-0 {
    padding-bottom: 0 !important;
}

.ps-0 {
    padding-right: 0 !important;
}

.ps-1 {
    padding-right: 0.25rem !important;
}

.ps-2 {
    padding-right: 0.5rem !important;
}

.ps-3 {
    padding-right: 1rem !important;
}

.ps-4 {
    padding-right: 1.5rem !important;
}

.ps-5 {
    padding-right: 3rem !important;
}

.header-logo{
    text-align: right;
}
.topber_area.style_two .header-address-info span i {
    margin-right: 0;
    margin-left: 6px;
}

.bi-arrow-right::before {
    content: "\f12f";
}
.flaticon-right-arrow:before {
    content: "\f127";
}
.hero_btn a i {
    margin-left: 0;
    margin-right: 10px;
    float: left;
    transform: rotate(0deg);
}
.header-button.style_two a i {
    margin-right: 10px;
    margin-left: 0;
}
.hero_btn {
    margin-right: 0;
    margin-left: 30px;
    direction: ltr;
}

.word-slider:before {
    animation: slideInRight 5s infinite;
}
.hero_content h1 {
    line-height: 90px;
}
.hero_btn a{
    font-size: 19px;
}
.about_btn.style_two {
    margin-left: 0;
    margin-right: 30px;
    direction: ltr;
}
.about_btn.style_two a i {
    margin-left: 10px;
    margin-right: 0;
    float: left;
}
.counter_title {
    margin-left: 0;
    margin-right: 40px;
}
.counter_title:before {
    right: -22px;
    left: auto;
}
.counter_title h5 {
    text-align: right;
}

.service_single_item.style_four .service_content{
    direction: rtl;
    text-align: right;
    padding: 32px 30px 24px 0;
}
.service_single_item.style_two .service_btn {
    left: 20px;
    right: auto;
}
.service_single_item.style_two .service_btn a i{
    transform: rotate(52deg);
}
.contact_main_info .call-do-action-info {
    justify-content: right;
}
.contact_main_info .call-do-social_icon  i {
    margin: 0 0 0 20px;
}
.blog-content {
    padding: 35px 30px 20px 30px;
}
.meta-blog {
    direction: rtl;
}
.meta-blog p {
    text-align: right;
}
.meta-blog p span {
    margin: 0 0 0 30px;
}
.meta-blog p span:before {
    left: -26px;
    right: auto;
}
.blog-title{
    text-align: right;
}
.blog_btn{
    direction: ltr;
    text-align: right;
}
.mc4wp-form-fields .mailchimp-form button {
    border-radius: 30px 5px 5px 30px;
}
.mc4wp-form-fields .mailchimp-form button:before {
    border-radius: 35px 0 0  35px;
    right: 0;
    left: auto;
}
.footer-bottom-menu {
    text-align: left;
}


.sucribe .mailchimp-form {
    direction: rtl !important;
}

.call_info{text-align: right}
.topber_area.style_two:before {
    right: -24px;
    left: auto;
    transform: skew(34deg);
}

.border-start {
    border-right: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color)!important;
    border-left: none !important;
}

.border-end {
    border-left: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color)!important;
    border-right: none !important;
}
.nav-tabs-menu li button.active:before {
    right: auto;
    left: -15px;
    transform: rotate(180deg);
}
.nav-tabs-menu {
    border-right: 0;
    border-left: 1px solid #ddd;
}
.header-menu ul .sub_menu li a {
    text-align: right;
}
.search-popup .form-group input[type="submit"], .search-popup .form-group button {
    right: auto;
    left: 30px;
}

.header-menu ul li a {
    font-size: 15px;
    font-weight: 600;
}
.header-menu {
    justify-content: left;
}

.about_thumb {
    text-align: right;
}

section.about_area.style_four .about_play.style_three {
    left: 0;
    right: auto;
}
.counter_title h5 {
    font-size: 19px;
}

.fa-arrow-right:before {
    content: "\f060";
}
.call_area.style_three .call-do-action-info {
    justify-content: right;
}
.footer-widget-menu ul li a {
    margin-right: -15px;
    margin-left: 0;
}
.footer-widget-menu ul li a:hover {
    margin-right: .0;
}
.feature_item.style_two {
    text-align: right;
}
.section_title.style_three {
    text-align: right;
}

section.contact_area.inner_section{
    text-align: right;
}

.block__career {
    text-align: right;
}

.section_title{
    text-align: right;
}

.block_contact_left {
    text-align: right;
}
.contact-form{
    text-align: right;
}

.breadcumb-content-ebook{
    text-align: right;
}
.content_ebooks {
    text-align: right;
}
.content_ebooks ul {
    padding: 0 15px 0 0;
}
#wizard .steps li:not(:last-child)::before {
    left: 0;
    right: 50%;
}

#wizard[data-total-steps="3"] .steps::after {
    left: auto;
    right: 16%;
}
#wizard-content{
    text-align: right;
}
.style__select__quote select {
    text-align: right;
    padding-right:15px;
}
.Additional_services .form-check-input{
    float: right;
    margin: 5px 0 0 0;
}
.Additional_services label {
    padding: 0 10px 0 0;
}
.img_tit_sector {
    margin: 0 0 5px 10px;
}
section.feature_area.inner_page {
    text-align: right;
}
.icon_img_sector {
    left: auto;
    right: -50px;
}
.desc-sector {
    padding: 100px 100px 0 60px;
    text-align: right;
}
.marquee {
    direction: ltr;
}

.sidebar_blog{
    text-align: right;
}
.recent-post-text span:before {
    left: auto;
    right: 0;
}
.recent-post-text span {
    padding: 0 20px 0 0;
}
.mc4wp-form-fields input[type="email"] {
    margin-left: 0;
    margin-right: 0;
}
.accordion-button::after {
    margin-right: auto;
    margin-left: 0;
}
.content--blog {
    text-align: right;
}
.sidebar_box.style_two {
    padding: 0 15px 0 5px;
    border-right: 6px solid #faab43;
    border-left: 0;
}
.img-block-view {
    right: 27px;
    left: 0;
}
.proconsul_btn.right_btn {
    text-align: left;
}
.proconsul_btn.right_btn a {
    direction: ltr;
}
.social_icon_share {
    text-align: right;
}
.block_view_jobs {
    text-align: right;
}
.details_job ul {
    padding: 0 20px 0 0;
}

.sidebar_box.style_two.sidebar_service.sidebar_service_single {
    text-align: right;
}
.list_view_service {
    padding: 15px 20px 0 0;
}
.viewPageService{
    text-align: right;
}

.form-select{
    background-position: left .75rem center;
}
.choose_thumb {
    text-align: right;
}
.service_single_item.style_two .service_content h3 a {
    font-size: 17px;
}


.counter_upper.bg-main2 .align-items-center{
    direction: ltr;
    padding: 0 20px;
}
.icon_ser{
    margin-bottom: 25px;
}
.form-box input {
    text-align: right;
}

.logo_mob {
    left: auto;
    right: 15px;
}

.accordion-button{
    text-align: right;
}
.sidebar_box ul li{
    padding-left: 0;
    padding-right: 25px;
}
.sidebar_box ul li:before{
    left: auto;
    right: 0;
}

.hero_btn a ,
.about_btn a{
    direction: ltr;
}
.mailchimp-form {
    direction: ltr !important;
}


.blog_btn a{
    display: block;
}

.flags{
    direction: ltr;
}

.mailchimp-form input{
    text-align: right;
    direction: rtl;
}

.cookies__btn--accept {
    margin-right: 0;
    margin-right: 15px;
}

@media screen and (max-width:1024px) {

    .list_about li {
        text-align: right;
        padding: 0 30px 0 0;
    }
    .list_about li i {
        left: auto;
        right: 0;
        padding: 5px 0 0 0;
    }
    .hero_content h1 span{
        width: 36%;
    }

    .service_single_item.style_four .service_content {
        padding: 10px;
    }
    .about_thumb {
        width: 100%;
    }


    .mc4wp-form-fields .mailchimp-form button {
        padding: 14px 10px;
        min-width: 100px;
    }
    .mc4wp-form-fields input[type="email"] {

    }

    .topBarMobile div a{
        margin: 0 !important;
        padding-left: 9px !important;
    }
    .topBarMobile p a{
        font-size: 12px;
        margin: 0 5px !important;
        padding: 0 !important;
    }
    .hero_content{
        text-align: center !important;
    }
    .hero_content h1 {
        line-height: 60px;
    }
    .mean-container a.meanmenu-reveal {
        float: left;
    }
    .mean-container .mean-bar::before {
        right: 10px;
        left: auto;
    }
    .mean-container .mean-nav ul li a.mean-expand {
        text-align: left;
    }
    .mean-container .mean-nav ul li a{
        text-align: right;
        font-weight: 500;
        font-size: 16px;
    }
    .counter_title h5 {
        text-align: center;
    }
    .counter_title {
        margin-right: 0;
    }

}
